.AnimatedCountdown {
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
  & h4 {
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide 0.2s ease-out;
  }
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.final {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  & h1 {
    font-size: xx-large;
    font-weight: 600;
  }
  &.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 0.2s ease-out;
  }
}

.button {
  border: solid 2px #1fda2e;
  border-radius: 5px;
  padding: 4px;
  font-size: 20px;
  &:hover {
    background-color: #1fda2e;
    color: white;
  }
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  30% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.numList {
  color: #3498db;
  font-size: 50px;
  position: relative;
  overflow: hidden;
  height: 50px;
  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    transform-origin: bottom center;
    &.in {
      transform: translate(-50%, -50%) rotate(0deg);
      animation: goIn 0.5s ease-in-out;
    }

    &.out {
      animation: goOut 0.5s ease-in-out;
    }
  }
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}
