.ThreeDBackgroundBoxes {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }
  @media (max-width: 1024px) {
    & {
      top: 10px;
      padding: 6px 12px;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
  &.big {
    width: 600px;
    height: 600px;
    & .box {
      transform: rotateZ(360deg);
    }
  }
  @media (max-width: 1024px) {
    & {
      height: 240px;
      width: 240px;
    }
    &.big {
      width: 280px;
      height: 280px;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box {
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
  &::after {
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
  }

  &::before {
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
  }
  @media (max-width: 1024px) {
    & {
      background-size: 240px 240px;
      height: 60px;
      width: 60px;
    }
  }
}
